<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="flex justify-between items-center mb-3">
      <h1 class="h3">Teams</h1>

      <% if @teams.exists? %>
        <%= link_to 'Create a Team', new_team_path, class: "btn btn-primary" %>
      <% end %>
    </div>

    <% if @teams.exists? %>
      <div class="bg-white rounded shadow">
        <table class="w-full">
          <thead>
            <tr>
              <th class="p-3 uppercase text-left text-xs text-grey-dark">Name</th>

              <th></th>
            </tr>
          </thead>

          <tbody>
          <% @teams.each do |team| %>
            <tr class="group border-t border-grey-light hover:bg-grey-lightest">
              <td class="p-3">
                <%= link_to team_avatar(team, class: "rounded-full h-10 w-10 align-middle mr-4"), team %>
                <%= link_to team.name, team, class: "text-black no-underline" %>
                <% if team.personal_team_for?(current_user) %>
                  <div class="ml-2 rounded-full py-1 px-3 bg-grey-light text-xs inline-block text-grey-darker font-bold leading-normal uppercase mr-2">Personal</div>
                <% end %>
              </td>

              <td class="p-3 w-32 text-center">
                <% if current_team != team %>
                  <%= link_to "Switch", switch_team_path(team), method: :patch, class: "text-sm text-blue-dark no-underline" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="text-center my-5">
        <%== pagy_nav(@pagy) %>
      </div>

    <% else %>
      <div class="bg-white rounded shadow">
        <div class="text-center p-8">
          <%= image_tag "empty.svg", class: "w-1/3 mb-4" %>
          <p class="h3 mb-4">Create your first Team</p>
        <%= link_to 'New Team', new_team_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
