<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-200 shadow-lg">

      <div class="flex justify-between items-end mb-5">
        <div class="flex items-center">
          <%= team_avatar @team, class: "rounded-full mr-4 h-12 w-12" %>
          <h1 class="h2"><%= @team.name %></h1>
        </div>

        <div>
          <%= link_to 'Edit Team', edit_team_path(@team), class: "btn btn-primary outline" %>
        </div>
      </div>

      <table class="w-full">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-600">Team Member</th>
            <th class="p-3 uppercase text-left text-xs text-gray-600">Roles</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @team.team_members.includes(:user).each do |team_member| %>
            <% user = team_member.user %>
            <tr class="group border-t border-gray-400 hover:bg-gray-200">
              <td class="p-3">
                <%= link_to (user.name || user.email), edit_team_team_member_path(@team, team_member), class: "text-blue-dark no-underline" %>

                <% if user.created_by_invite? && !user.invitation_accepted? %>
                  <div class="ml-2 rounded-full py-1 px-4 bg-gray-400 text-xs inline-block text-gray-700 font-bold leading-normal uppercase">Invitation Sent</div>
                <% end %>
              </td>
              <td class="p-3"><%= team_member_roles(@team, team_member).join(", ") %></td>
              <td class="p-3 w-32 text-center"><%= link_to "Edit", edit_team_team_member_path(@team, team_member), class: "text-sm text-blue-600 no-underline" %></td>
            </tr>
          <% end %>

          <% if !@team.personal? %>
            <tr class="border-t border-gray-400">
              <td colspan="3" class="p-3 text-center">
                <%= link_to 'Invite A Team Member', new_team_team_member_path(@team), class: "text-blue-600 no-underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
