<div class="container mx-auto">
  <h1 class="h2 my-6 text-center"><%= t(".title") %></h1>

  <div class="flex flex-col gap-4 divide-y divide-gray-200 bg-white rounded-lg border border-gray-300">
    <% @announcements.each_with_index do |announcement, index| %>
      <div class="p-4 lg:p-10 sm:flex" id="<%= dom_id(announcement) %>">
        <div class="text-sm w-32">
          <%= link_to announcements_path(anchor: dom_id(announcement)), class: "text-gray-400 capitalize" do %>
            <%= local_relative_time announcement.published_at, 'weekday-or-date' %>
          <% end %>
        </div>

        <div class="flex-1 sm:ml-8">
          <h2 class="font-semibold text-gray-900 text-lg mb-2"><%= announcement.title %></h2>
          <%= badge announcement.kind.humanize.titleize, class: "mb-2", color: announcement_color(announcement) %>

          <div class="text-gray-700">
            <%= announcement.description %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @announcements.empty? %>
      <div class="p-4 lg:p-10"><%= t(".empty_placeholder") %></div>
    <% end %>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="text-center mt-8">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
