<% content_for :head, tag(:meta, name: "stripe-key", content: Pay::Stripe.public_key) %>

<%= form_with model: current_account,
  url: card_url,
  class: "mt-4",
  data: {
    controller: "stripe",
    target: "stripe.form toggle.toggleable",
    action: "keydown->stripe#keydown",
    stripe_setup_intent: setup_intent.client_secret,
  } do |f| %>

  <div class="form-group">
    <label for="card-element">Credit or debit card</label>
    <div data-target="stripe.card" class="form-control"></div>
    <div data-target="stripe.error" role="alert" class="text-red-600 text-sm mt-2"></div>
  </div>

  <div class="form-group">
    <%= f.label :name_on_card %>
    <%= f.text_field :name_on_card, name: nil, class: "form-control", placeholder: "Full Name", required: true, data: { target: "stripe.name" } %>
  </div>

  <%= f.hidden_field :processor, value: :stripe %>
  <%= f.button 'Update Card', id: 'submit-button', class: "btn btn-primary", data: { action: "click->stripe#submit", disable_with: disable_with("Processing...") } %>
<% end %>
