<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="w-full p-4 lg:w-3/4">
    <div class="mb-5 text-sm text-gray-600">
      <%= link_to t("api_tokens.all"), api_tokens_path, class: "hover:text-black" %>
      <%= render_svg "icons/cheveron-right", styles: "fill-current icon-sm text-gray-600 inline-block" %>
      <%= t(".breadcrumb") %>
    </div>

    <div class="p-4 bg-white border border-gray-300 rounded-lg lg:p-10">
      <h1 class="mb-2"><%= t(".title") %></h1>

      <%= render "form", api_token: @api_token %>

      <%= link_to t("back"), api_tokens_path %>
    </div>
  </div>
</div>
