<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-warning"><%= alert %></div>
<% end %>

<%= form_with model: @config, url: config_path do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#application" role="tab" aria-controls="v-pills-home" aria-selected="true">Application</a>
        <a class="nav-link" id="v-pills-dev-tab" data-toggle="pill" href="#development" role="tab" aria-controls="v-pills-dev" aria-selected="false">Development</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#multitenancy" role="tab" aria-controls="v-pills-profile" aria-selected="false">Accounts</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#workers" role="tab" aria-controls="v-pills-settings" aria-selected="false">Background Workers</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#integrations" role="tab" aria-controls="v-pills-settings" aria-selected="false">Integrations</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#oauth" role="tab" aria-controls="v-pills-messages" aria-selected="false">Login & OAuth</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#payments" role="tab" aria-controls="v-pills-profile" aria-selected="false">Payments</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#email" role="tab" aria-controls="v-pills-settings" aria-selected="false">Transactional Email</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#users" role="tab" aria-controls="v-pills-settings" aria-selected="false">Users</a>
      </div>

      <hr />

      <p><%= f.button "Save Changes", class: "btn btn-block btn-primary", data: { disable_with: "Saving..." } %></p>

      <p class="text-muted small">Jumpstart Pro will install any new dependencies after saving and automatically restart your app.</p>
    </div>

    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="application" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="form-group">
            <%= f.label :application_name %>
            <%= f.text_field :application_name, placeholder: "App", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :business_name %>
            <%= f.text_field :business_name, placeholder: "Company, LLC", class: "form-control" %>
            <small class="form-text text-muted">This will be shown in the footer, terms of service, privacy policy, in receipts, etc.</small>
          </div>

          <div class="form-group">
            <%= f.label :business_address %>
            <%= f.text_area :business_address, placeholder: "1234 My Street\nCity, State Zipcode", class: "form-control" %>
            <small class="form-text text-muted">Your business address will be used in receipts.</small>
          </div>

          <div class="form-group">
            <%= f.label :support_email %>
            <%= f.text_field :support_email, placeholder: "support@example.com", class: "form-control" %>
            <small class="form-text text-muted">This email will be used in receipts if a user needs help.</small>
          </div>
        </div>

        <div class="tab-pane fade" id="workers" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="form-group">
            <label>Background Job Processor</label>
            <%= f.select :background_job_processor, Jumpstart::JobProcessor::AVAILABLE_PROVIDERS, {}, { class: "form-control" } %>
          </div>
        </div>

        <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h3>Create an Admin User</h3>
          <p>Admin users have access to the admin dashboard. They're marked in the database with the <code>admin</code> flag set to true.</p>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% User.where(admin: true).order(created_at: :asc).each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= link_to "Create admin user", "#", class: "btn btn-secondary", data: { toggle: "modal", target: "#adminUserModal" } %>
        </div>

        <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="form-group">
            <label>Transactional Email Service</label>
            <%= f.select :email_provider, Jumpstart::Configuration::Mailable::AVAILABLE_PROVIDERS, { include_blank: "None" }, { class: "form-control" } %>
            <small class="form-text text-muted">This will only be configured for production use.</small>
          </div>

          <div class="form-group">
            <%= f.label :domain %>
            <%= f.text_field :domain, placeholder: "support@example.com", class: "form-control" %>
            <small class="form-text text-muted">We'll use this domain to generate links inside emails.</small>
          </div>

          <div class="form-group">
            <%= f.label :default_from_email %>
            <%= f.text_field :default_from_email, class: "form-control" %>
            <small class="form-text text-muted">When sending emails, we'll send them from this email address by default unless you override it in the mailer.</small>
          </div>
        </div>

        <div class="tab-pane fade" id="integrations" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="form-group">
            <h4>Integrations</h4>
            <p class="small text-muted">Integrations with popular services can be enabled with the click of a button. Simply add your credentials and enable the integration and we'll take care of installing and configuring it for you.</p>
            <pre><code>rails credentials:edit --environment=development</code></pre>

            <h5>Services</h5>
            <% Jumpstart::Configuration::Integratable::AVAILABLE_PROVIDERS.each do |integration_name, name| %>
              <div class="mb-4">
                <div class="font-weight-semibold"><%= integration_name %></div>

                <div class="custom-control custom-checkbox">
                  <% if Jumpstart::Configuration::Integratable.has_credentials?(name) %>
                    <%= check_box_tag "configuration[integrations][]", name, Jumpstart.config.integrations.include?(name), disabled: false, id: name, class: "custom-control-input" %> <%= label_tag name, "Enable", class: "custom-control-label" %> </div>
                  <% else %>
                    <%= check_box_tag "configuration[integrations][]", name, Jumpstart.config.integrations.include?(name), disabled: true, id: name, class: "custom-control-input" %> <%= label_tag name, "Add credentials to enable", class: "custom-control-label" %> </div>
                  <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-pane fade" id="oauth" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <div class="form-group">
            <h4>Social Login with Omniauth</h4>
            <p>Let users log in with third-party accounts.</p>

            <p>To enable an omniauth provider, add your OAuth details to Rails credentials under the <code>omniauth</code> key. Any extra options will be passed into the omniauth provider automatically so you can easily customize scopes and more.</p>
            <pre><code class="yaml rounded">omniauth:
  facebook:
    public_key: x
    private_key: y
    scope: email</code></pre>

            <p>We recommend you use environment specific credentials (new in Rails 6.0) so you can safely separate your production and development keys.</p>
            <pre><code class="bash rounded">rails credentials:edit --environment development</code></pre>

            <h4>Providers</h4>
            <% Jumpstart::Omniauth.all_providers.each do |gem_name, details| %>
              <div class="mb-4">
                <div class="font-weight-semibold"><%= details[:name] %></div>

                <% if Jumpstart::Omniauth.has_credentials?(gem_name) %>
                  <div class="custom-control custom-checkbox">
                    <%= check_box_tag "configuration[omniauth_providers][]", gem_name, Jumpstart::Omniauth.enabled?(gem_name), disabled: !Jumpstart::Omniauth.has_credentials?(gem_name), id: gem_name, class: "custom-control-input" %>
                    <%= label_tag gem_name, "Enable", class: "custom-control-label" %>
                  </div>

                <% else %>
                  <div>Add keys for <em><%= details[:name] %></em> to your credentials to enable it for login.</div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <%= render "payments", f: f %>
        </div>

        <div class="tab-pane fade" id="multitenancy" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h4>Accounts</h4>
          <p>Every user in Jumpstart apps will have at least one Account they're a part of.</p>
          <p>Personal accounts allow users to have resources that are private and not shared with other users. This is similar to personal GitHub repositories vs Org repos and personal vs team on Heroku apps.</p>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :personal_accounts, value: Jumpstart.config.personal_accounts, class: "custom-control-input", id: "personal_accounts" %>
              <%= label_tag "personal_accounts", "Enable Personal Accounts", class: "custom-control-label" %>
            </div>
          </div>

          <p class="small text-muted">Disabling personal accounts will automatically create a regular account for each user instead.</p>

          <hr />

          <h5>Register with Account Details</h5>
          <p>Account details may need to be collected when the user signs up or registers. By enabling this feature, users will be prompted for an Account name on the registration form.</p>
          <p>You can add additional fields by adding fields to the Account model and permitting the params in <code>application_controller.rb</code> for the Devise sign_up action.</p>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :register_with_account, value: true, checked: Jumpstart.config.register_with_account?, class: "custom-control-input", id: "register_with_account" %>
              <%= label_tag "register_with_account", "Include account fields in sign up / registration", class: "custom-control-label" %>
            </div>
          </div>

          <p class="small text-muted">Users signing up through an invitation will <u>not</u> be prompted for account details.</p>

          <hr />

          <h4>Multitenancy</h4>
          <p>Jumpstart Pro uses an Account model to separate resources. You can use this to make your application multitenant. By default, we switch accounts using a session cookie, but this can be extended to also use subdomains, paths, and custom domains</p>

          <div class="form-group">
            <label>Switch accounts automatically by:</label>

            <div class="custom-control custom-checkbox">
              <%= check_box_tag "configuration[multitenancy][]", "path", Jumpstart::Multitenancy.path?, class: "custom-control-input", id: "multitenancy_path" %>
              <%= label_tag "multitenancy_path", "Path", class: "custom-control-label" %>
              <span class="text-sm text-muted">(prepends <code>/:account_id/</code> as the script_name before Rails routes)</span>
            </div>

            <div class="custom-control custom-checkbox">
              <%= check_box_tag "configuration[multitenancy][]", "subdomain", Jumpstart::Multitenancy.subdomain?, class: "custom-control-input", id: "multitenancy_subdomain" %>
              <%= label_tag "multitenancy_subdomain", "Subdomain", class: "custom-control-label" %>
            </div>

            <div class="custom-control custom-checkbox">
              <%= check_box_tag "configuration[multitenancy][]", "domain", Jumpstart::Multitenancy.domain?, class: "custom-control-input", id: "multitenancy_domain" %>
              <%= label_tag "multitenancy_domain", "Custom Domain", class: "custom-control-label" %>
            </div>

            <div class="text-sm text-muted mt-3"><i class="fas fa-info-circle"></i> Typically, custom domains should be combined with subdomain switching. This provides a fallback in case the customer's domain isn't configured properly.</div>
          </div>
        </div>

        <div class="tab-pane fade" id="development" role="tabpanel" aria-labelledby="v-pills-dev-tab">
          <h4>LiveReload</h4>

          <div class="form-group">
            <p>Checking this option will install guard, guard_livereload and rack_livereload</p>
            <div class="custom-control custom-checkbox">
              <%= f.check_box :livereload, value: true, checked: Jumpstart.config.livereload?, class: "custom-control-input", id: "livereload" %>
              <%= label_tag "livereload", "Enable Rack::LiveReload", class: "custom-control-label" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr />
<% end %>

<%= render partial: "welcome" if params[:welcome] %>
<%= render partial: "admin_user" %>
