<div class="lg:fixed">
  <%= link_to docs_path do %>
    <%= image_tag "jumpstart-docs-logo.svg" %>
  <% end %>

  <ul class="list-reset leading-loose mt-6 pb-6">
    <li><%= link_to "Alerts", docs_alert_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Buttons", docs_button_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Cards", docs_card_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Forms", docs_form_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Icons", docs_icon_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "JavaScript", docs_javascript_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Pagination", docs_pagination_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Pills", docs_pill_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Typography", docs_typography_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
    <li><%= link_to "Wells", docs_well_path, class: "text-grey-darkest no-underline hover:text-primary" %></li>
  </ul>
</div>