<div class="bg-white border border-gray-400 rounded">
  <%= nav_link_to "Profile", edit_user_registration_path,   class: "block no-underline p-3 px-6 rounded-t", active_class: "bg-primary text-white", inactive_class: "text-gray-700 hover:bg-gray-200" %>
  <%= nav_link_to "Password", edit_account_password_path,   class: "block no-underline p-3 px-6", active_class: "bg-primary text-white", inactive_class: "text-gray-700 hover:bg-gray-200" %>
  <%= nav_link_to "Accounts", user_connected_accounts_path, class: "block no-underline p-3 px-6", active_class: "bg-primary text-white", inactive_class: "text-gray-700 hover:bg-gray-200" if Devise.omniauth_configs.any? %>
  <%= nav_link_to "Billing", subscription_path,             class: "block no-underline p-3 px-6 rounded-b", active_class: "bg-primary text-white", inactive_class: "text-gray-700 hover:bg-gray-200" %>
  <%= nav_link_to "Teams", teams_path,                      class: "block no-underline p-3 px-6 rounded-b", active_class: "bg-primary text-white", inactive_class: "text-gray-700 hover:bg-gray-200", starts_with: "/team" %>
</div>
