<div class="lg:fixed">
  <%= link_to jumpstart_docs_path do %>
    <%= image_tag "jumpstart-docs-logo.svg" %>
  <% end %>

  <h4 class="mt-6">Server</h4>
  <ul class="list-reset leading-loose pb-6">
    <li><%= link_to "Announcements", announcements_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Billing", billing_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Scaffolds", scaffolds_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Teams", teams_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Users", users_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
  </ul>

  <h4 class="mt-6">Design</h4>
  <ul class="list-reset leading-loose pb-6">
    <li><%= link_to "Alerts", alerts_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Buttons", buttons_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Cards", cards_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Forms", forms_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Icons", icons_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "JavaScript", javascript_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Pagination", pagination_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Pills", pills_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Typography", typography_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
    <li><%= link_to "Wells", wells_jumpstart_docs_path, class: "text-gray-700 no-underline hover:text-primary" %></li>
  </ul>
</div>
