<% content_for :section_title, "Announcements" %>

<div class="mb-20">
  <h2 class="pb-3 mb-6 border-b border-grey-light">Block</h2>

    <form action="#">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="website">Website</label>
        <input type="url" name="website" class="form-control error" value="My Website">
        <p class="form-hint error">Please enter a valid URL</p>
      </div>

      <div class="form-group">
        <span class="label">Avatar</span>
        <input type="file" name="avatar" class="form-control form-file" data-multiple-caption="{count} files selected" multiple>
        <label for="avatar">
          <%= render_svg "icons/photo", styles: "fill-current icon-sm mr-2" %> <span>Upload Avatar</span>
        </label>
      </div>

      <div class="form-group">
        <label for="industry">Industry</label>
        <div class="relative">
          <select name="industry" class="select">
            <option value="" selected>Choose an industry</option>
            <option value="tech">Tech</option>
            <option value="marketing">Marketing</option>
            <option value="health_science">Health &amp; Science</option>
          </select>
          <div class="caret">
            <%= render_svg "icons/caret", styles: "fill-current h-4 w-4" %>
          </div>
        </div>
      </div>

    </form>

<% content_for :snippet do %>
&lt;form action="#"&gt;

  &lt;!-- text --&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="name"&gt;Name&lt;/label&gt;
    &lt;input type="text" name="name" class="form-control"&gt;
  &lt;/div&gt;

  &lt;!-- email --&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="email"&gt;Email&lt;/label&gt;
    &lt;input type="email" name="email" class="form-control"&gt;
  &lt;/div&gt;

  &lt;!-- error handling --&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="website"&gt;Website&lt;/label&gt;
    &lt;input type="url" name="website" class="form-control error" value="My Website"&gt;
    &lt;p class="form-hint error"&gt;Please enter a valid URL&lt;/p&gt;
  &lt;/div&gt;

  &lt;!-- file-input --&gt;
  &lt;div class="form-group"&gt;
    &lt;span class="label"&gt;Avatar&lt;/span&gt;
    &lt;input type="file" name="avatar" class="form-control form-file" data-multiple-caption="{count} files selected" multiple&gt;
    &lt;label for="avatar"&gt;
      &lt;%= render_svg "icons/photo", styles: "fill-current icon-sm mr-2" %&gt; &lt;span&gt;Upload Avatar&lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;

  &lt;!-- select --&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="industry"&gt;Industry&lt;/label&gt;
    &lt;div class="relative"&gt;
      &lt;select name="" class="select"&gt;
        &lt;option value="" selected&gt;Choose an industry&lt;/option&gt;
        &lt;option value="tech"&gt;Tech&lt;/option&gt;
        &lt;option value="marketing"&gt;Marketing&lt;/option&gt;
        &lt;option value="health_science"&gt;Health &amp; Science&lt;/option&gt;
      &lt;/select&gt;
      &lt;div class="caret"&gt;
        &lt;%= render_svg "icons/caret", styles: "fill-current h-4 w-4" %&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/form&gt;
<% end %>

<%= render "jumpstart/docs/snippet" %>

<div class="mb-20">
  <h2 class="pb-3 mb-6 border-b border-grey-light">Inline</h2>

    <form action="#">

      <div class="form-group flex flex-wrap items-center justify-start">
        <label for="name" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Name</label>
        <input type="text" name="name" class="form-control lg:flex-1">
      </div>

      <div class="form-group flex flex-wrap items-center justify-start">
        <label for="email" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Email</label>
        <input type="email" name="email" class="form-control lg:flex-1">
      </div>

      <div class="form-group flex flex-wrap items-center justify-start">
        <label for="website" class="lg:w-1/6 lg:text-right lg:pr-4 lg:-mt-4">Website</label>
        <div class="lg:flex-1 w-full">
          <input type="url" name="website" class="form-control error" value="My Website">
          <p class="form-hint w-full error">Please enter a valid URL</p>
        </div>
      </div>

      <div class="form-group flex flex-wrap items-center justify-start">
        <span class="label lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Avatar</span>
        <div class="lg:flex-1 w-full">
          <input type="file" name="avatar" class="form-control form-file" data-multiple-caption="{count} files selected" multiple>
          <label for="avatar">
            <%= render_svg "icons/photo", styles: "fill-current icon-sm mr-2" %> <span>Upload Avatar</span>
          </label>
        </div>
      </div>

      <div class="form-group flex flex-wrap items-center justify-start">
        <label for="industry" class="label lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Industry</label>
        <div class="relative lg:flex-1 w-full">
          <select name="industry" class="select">
            <option value="" selected>Choose an industry</option>
            <option value="tech">Tech</option>
            <option value="marketing">Marketing</option>
            <option value="health_science">Health &amp; Science</option>
          </select>
          <div class="caret">
            <%= render_svg "icons/caret", styles: "fill-current h-4 w-4" %>
          </div>
        </div>
      </div>

    </form>

<% content_for :snippet, flush: true do %>
&lt;form action="#"&gt;

  &lt;div class="form-group flex flex-wrap items-center justify-start"&gt;
    &lt;label for="name" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2"&gt;Name&lt;/label&gt;
    &lt;input type="text" name="name" class="form-control lg:flex-1"&gt;
  &lt;/div&gt;

  &lt;div class="form-group flex flex-wrap items-center justify-start"&gt;
    &lt;label for="email" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2"&gt;Email&lt;/label&gt;
    &lt;input type="email" name="email" class="form-control lg:flex-1"&gt;
  &lt;/div&gt;

  &lt;div class="form-group flex flex-wrap items-center justify-start"&gt;
    &lt;label for="website" class="lg:w-1/6 lg:text-right lg:pr-4 lg:-mt-4"&gt;Website&lt;/label&gt;
    &lt;div class="lg:flex-1 w-full"&gt;
      &lt;input type="url" name="website" class="form-control error" value="My Website"&gt;
      &lt;p class="form-hint w-full error"&gt;Please enter a valid URL&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="form-group flex flex-wrap items-center justify-start"&gt;
    &lt;span class="label lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2"&gt;Avatar&lt;/span&gt;
    &lt;div class="lg:flex-1 w-full"&gt;
      &lt;input type="file" name="avatar" class="form-control form-file" data-multiple-caption="{count} files selected" multiple&gt;
      &lt;label for="avatar"&gt;
        &lt;%= render_svg "icons/photo", styles: "fill-current icon-sm mr-2" %&gt; &lt;span&gt;Upload Avatar&lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="form-group flex flex-wrap items-center justify-start"&gt;
    &lt;label for="industry" class="label lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2"&gt;Industry&lt;/label&gt;
    &lt;div class="relative lg:flex-1 w-full"&gt;
      &lt;select name="industry" class="select"&gt;
        &lt;option value="" selected&gt;Choose an industry&lt;/option&gt;
        &lt;option value="tech"&gt;Tech&lt;/option&gt;
        &lt;option value="marketing"&gt;Marketing&lt;/option&gt;
        &lt;option value="health_science"&gt;Health &amp; Science&lt;/option&gt;
      &lt;/select&gt;
      &lt;div class="caret"&gt;
        &lt;%= render_svg "icons/caret", styles: "fill-current h-4 w-4" %&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/form&gt;
<% end %>

<%= render "jumpstart/docs/snippet" %>

</div>
