<div class="container m-auto my-10">
  <div class="flex flex-wrap justify-center">
    <div class="text-center">
      <h1><%= t(".heading") %></h1>
      <p class="text-xl"><%= t(".subhead") %></p>
    </div>
  </div>

  <div data-controller="pricing" class="flex flex-wrap items-center justify-center">
    <div data-pricing-target="toggle" class="inline-block rounded-full bg-tertiary-500 py-2 px-1 text-white my-8">
      <a data-action="click->pricing#switch" data-pricing-target="frequency" data-frequency="monthly" class="cursor-pointer py-2 px-4 rounded-full">
        <%= t(".monthly") %>
      </a>
      <a data-action="click->pricing#switch" data-pricing-target="frequency" data-frequency="yearly" class="cursor-pointer py-2 px-4 rounded-full">
        <%= t(".yearly") %>
      </a>
    </div>

    <div class="w-full lg:px-0 px-2">
      <div data-pricing-target="plans" data-frequency="monthly" class="flex flex-wrap items-center justify-center -mx-4">
        <% Plan.visible.monthly.sorted.each do |plan| %>
          <%= render layout: "subscriptions/plan", locals: { plan: plan } do %>
            <%= link_to t(".get_started"), new_subscription_path(plan: plan.id), class: "btn btn-tertiary" %>
          <% end %>
        <% end %>
      </div>

      <div data-pricing-target="plans" data-frequency="yearly" class="hidden flex-wrap items-center justify-center -mx-4">
        <% Plan.visible.yearly.sorted.each do |plan| %>
          <%= render layout: "subscriptions/plan", locals: { plan: plan } do %>
            <%= link_to t(".get_started"), new_subscription_path(plan: plan.id), class: "btn btn-tertiary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
