<h3><%= t(".title") %></h3>

<% if current_account.subscription&.on_trial? %>
  <%= render partial: "subscriptions/trial_details" %>
<% end %>

<% if current_account.subscription&.cancelled? %>
  <% if current_account.subscription.on_grace_period? && !Jumpstart.config.paddle? %>
    <div class="flex">
      <div class="flex-1 mt-2">
        <%= t ".subscription_ends_html", date: current_account.subscription.ends_at.strftime("%B %d, %Y") %>
      </div>

      <div>
        <%= form_for current_account, url: resume_subscription_url, method: :patch do |f| %>
          <%= f.button t(".resume"), class: "btn btn-tertiary", data: { disable_with: disable_with(t(".resuming")) } %>
        <% end %>
      </div>
    </div>

  <% else %>
    <p><%= t ".resubscribe_html", link: link_to(t(".resubscribe"), new_subscription_path, class: "underline text-blue-500") %></p>
  <% end %>

<% elsif current_account.subscription&.paused? %>
  <div class="flex">
    <div class="flex-1 mt-2">
      <% if current_account.subscription.on_grace_period? %>
        <%= t ".subscription_pauses_html", date: current_account.subscription.paddle_paused_from.strftime("%B %d, %Y") %>
      <% else %>
        <%= t ".subscription_paused_html" %>
      <% end %>
    </div>

    <div>
      <%= form_for current_account, url: resume_subscription_url, method: :patch do |f| %>
        <%= f.button t(".resume"), class: "btn btn-tertiary", data: { disable_with: disable_with(t(".resuming")) } %>
      <% end %>
    </div>
  </div>

<% elsif current_account.subscription&.active? %>

  <div class="flex">
    <div class="flex-1 mt-2">
      <div><%= t ".current_plan_html", plan: current_account.subscription.plan.name %></div>
    </div>
    <div>
      <%= link_to t(".change_plan"), edit_subscription_path, class: "btn btn-link text-gray-700" %>
    </div>
  </div>
<% else %>
  <div class="flex">
    <div class="flex-1 mt-2 text-gray-700"><%= t ".not_subscribed" %></div>
    <div><%= link_to t(".choose_plan"), pricing_path, class: "btn btn-primary" %></div>
  </div>
<% end %>

<hr class="border-b my-8" />

<%= render partial: "subscriptions/payment_method" %>

<hr class="border-b my-8" />

<%# Paddle: Extra payment details live in Paddle, not our app %>
<% unless current_account.subscription&.paddle? %>
  <%= render partial: "subscriptions/billing_info" %>
<% end %>

<hr class="border-b my-8" />

<%= render partial: "subscriptions/charges" %>
<%= render partial: "subscriptions/pause" %>
<%= render partial: "subscriptions/cancel" %>
