<div class="shadow-lg rounded-lg flex flex-col sm:flex-row lg:w-1/2 mx-auto my-8 bg-white">
  <div class="sm:w-2/3 p-8">
    <h1><%= t(".title") %></h1>

    <hr class="border-b my-8" />

    <div class="flex items-center my-8">
      <%= account_avatar current_account, class: "h-10 w-10 rounded-full mr-4" %>
      <h4><%= current_account.name %></h4>
    </div>

    <div data-controller="toggle">
      <% if current_account.card_last4? %>
        <div data-toggle-target="toggleable">
          <div class="flex mb-8">
            <div class="flex-1">
              <label><%= t(".payment_method") %></label>
              <i class="fab fa-cc-<%= current_account.card_type.downcase %> text-gray-700"></i> <%= payment_method_details(current_account) %>
            </div>
            <%= link_to t(".change"), "#", class: "text-primary text-sm mt-6", data: { action: "click->toggle#toggle" } %>
          </div>

          <%= form_with model: current_account, url: subscription_path, method: :post do |f| %>
            <%= f.hidden_field :plan, value: @plan.id if @plan.present? %>
            <%= f.button t(".subscribe"), id: 'submit-button', class: "btn btn-primary", data: { action: "click->stripe#submit", disable_with: disable_with(t(".processing")) } %>
          <% end %>
        </div>
      <% end %>

      <%= tag.div class: ("hidden" if current_account.card_last4?), data: { toggle_target: "toggleable" } do %>
        <%= render 'subscriptions/forms/stripe'    if Jumpstart.config.stripe? %>
        <%= render 'subscriptions/forms/braintree' if Jumpstart.config.braintree? %>
        <%= render 'subscriptions/forms/paypal'    if Jumpstart.config.paypal? %>
        <%= render 'subscriptions/forms/paddle'    if Jumpstart.config.paddle? %>
      <% end %>
    </div>

    <div class="text-sm text-center mt-8">
      <%= render_svg "icons/question", styles: "fill-current text-gray-500 w-4 h-4 inline-block" %>
      <%= t(".help") %>
      <span class="text-gray-600">
        <%= t(".contact_html", link: mail_to(Jumpstart.config.support_email, t(".contact_support"), subject: t(".contact_subject", product: Jumpstart.config.application_name), class: "text-gray-800 underline")) %>
      </span>
    </div>
  </div>

  <div class="sm:w-1/3 p-8 bg-blue-700 text-white rounded-b-lg sm:rounded-b-none sm:rounded-r-lg">
    <div class="text-lg"><%= @plan.name %></div>

    <div class="my-3">
      <sup class="text-xl">$</sup>
      <% if Jumpstart.config.paddle? %>
        <span class="text-5xl" id="recurringTotal"><i class="fas fa-circle-notch fa-spin"></i></span>
      <% else %>
        <span class="text-5xl"><%= @plan.amount / 100 %></span>
      <% end %>
      <span class="text-lg">/ <%= @plan.interval %></span>
    </div>
    <div><%= t(".renews_html", interval: @plan.interval) %></div>

    <br />

    <% @plan.features.each do |plan_feature| %>
      <div class="mb-2"><i class="far fa-check-circle text-blue-400"></i> <%= plan_feature %></div>
    <% end %>

    <hr class="my-8 border-b border-blue-600" />

    <div class="mb-1"><%= t(".testimonial", product: Jumpstart.config.application_name) %></div>
    <div class="flex items-center pt-2">
      <img class="block h-8 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars1.githubusercontent.com/u/67093?s=40&v=4" alt="">
      <p class="leading-tight">Chris Oliver</p>
    </div>
  </div>
</div>
