<% content_for :section_title, "Alerts" %>

<div class="mb-10">

  <%= render "jumpstart/docs/snippet" do %>
<div class="alert mb-6" role="alert">
  <div class="flex items-start justify-start">
    <%= render_svg "icons/buoy", styles: "fill-current icon mr-4 mt-1 flex-no-shrink" %>
    <div>
      <h4 class="font-black text-sm uppercase tracking">General Alert</h4>
      <p class="leading-normal">Additional text for context goes here</p>
    </div>
  </div>
</div>

<div class="alert alert-info mb-6" role="alert">
  <div class="flex items-start justify-start">
    <%= render_svg "icons/conversation", styles: "fill-current icon mr-4 mt-1 flex-no-shrink" %>
    <div>
      <h4 class="font-black text-sm uppercase tracking">Info Alert</h4>
      <p class="leading-normal">Additional text for context goes here</p>
    </div>
  </div>
</div>

<div class="alert alert-success mb-6" role="alert">
  <div class="flex items-start justify-start">
    <%= render_svg "icons/checkmark", styles: "fill-current icon mr-4 mt-1 flex-no-shrink" %>
    <div>
      <h4 class="font-black text-sm uppercase tracking">Success Alert</h4>
      <p class="leading-normal">Additional text for context goes here</p>
    </div>
  </div>
</div>

<div class="alert alert-error mb-6" role="alert">
  <div class="flex items-start justify-start">
    <%= render_svg "icons/bug", styles: "fill-current icon mr-4 mt-1 flex-no-shrink" %>
    <div>
      <h4 class="font-black text-sm uppercase tracking">Error/Danger Alert</h4>
      <p class="leading-normal">Additional text for context goes here</p>
    </div>
  </div>
</div>

<div class="alert alert-warning mb-6" role="alert">
  <div class="flex items-start justify-start">
    <%= render_svg "icons/bookmark", styles: "fill-current icon mr-4 mt-1 flex-no-shrink" %>
    <div>
      <h4 class="font-black text-sm uppercase tracking">Warning Alert</h4>
      <p class="leading-normal">Additional text for context goes here</p>
    </div>
  </div>
</div>
  <% end %>
</div>
