<div class="w-full max-w-lg mx-auto bg-white rounded shadow p-4 mt-8">
  <% if @payment.succeeded? %>
    <h1 class="h3 mb-4"><%= t(".successful") %></h1>
    <p class="text-gray-700 text-sm"><%= t(".successful_description ") %></p>
    <%= link_to t(".go_back"), root_path %>

  <% elsif @payment.canceled? %>
    <h1 class="h3 mb-4"><%= t(".cancelled") %></h1>
    <p class="text-gray-700 text-sm"><%= t(".cancelled_description") %></p>
    <%= link_to t(".go_back"), root_path %>

  <% else %>
    <h1 class="h3 mb-4"><%= t(".confirm", amount: number_to_currency(@payment.amount / 100.0)) %></h1>
    <p class="text-gray-700 text-sm mb-4"></p>

    <%= render 'subscriptions/forms/stripe', button: t(".confirm_button") if Jumpstart.config.stripe? %>
  <% end %>
</div>
