<%= form_for current_user, url: card_url, html: { id: 'payment_form' } do |f| %>
  <p>Current Card: <%= current_user.card_type %> <%= current_user.card_last4 %></p>
  <% if Jumpstart.config.stripe? %>
    <%= render 'cards/fields/stripe', f: f %>
  <% end %>
  <% if Jumpstart.config.braintree? %>
    <%= render 'cards/fields/braintree', f: f %>
  <% end %>
  <%= f.button 'Update Card' %>
<% end %>
