<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-300">
      <h1 class="h2 mb-2"><%= link_to t(".billing"), subscription_path, class: "text-primary hover:underline" %> / <%= t(".payment_details") %></h2>

      <% if current_account.paypal? %>
        <%#= link_to "Change source", "https://www.paypal.com/us/smarthelp/article/faq1414", class: "btn btn-link text-gray-700", target: "_blank", rel: "nofollow noopener" %>
        <%= render 'cards/forms/paypal'    if Jumpstart.config.paypal? %>
      <% else %>
        <%= render 'cards/forms/stripe', button: "Update Card", url: card_path, method: :put, setup_intent: @setup_intent if Jumpstart.config.stripe? %>
        <%= render 'cards/forms/braintree' if Jumpstart.config.braintree? %>
        <%= render 'cards/forms/paddle' if Jumpstart.config.paddle? %>
      <% end %>
    </div>
  </div>
</div>
