<div id="<%= dom_id post %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= post.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= post.post_status %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= post.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Content</p>
    <%= post.content %>
  </div>
</div>
