<%= content_for :title, "Posts ##{@post.id}" %>
<%= turbo_stream_from @post %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Posts", posts_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Post #<%= @post.id %>
    </h1>
    <%= link_to t("edit"), edit_post_path(@post), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @post %>
  </div>
</div>
