<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>Jumpstart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>

    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script src="https://kit.fontawesome.com/0e5ab6a736.js"></script>

    <!--
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    -->

    <%= render "shared/favicons" %>
  </head>

  <body class="bg-offwhite font-sans font-normal leading-normal h-full overflow-x-hidden">
    <%= render partial: "shared/flash" %>

    <div class="flex flex-wrap justify-between items-start main">

      <div class="flex md:w-1/5 w-full pt-4 lg:px-8 px-4">
        <%= render partial: "jumpstart/docs/nav" %>
      </div>

      <div class="flex flex-col md:w-4/5 w-full bg-white h-full border-l border-gray-400 docs-main">

        <% if content_for :section_title %>
          <div class="bg-primary-500 md:px-20 lg:px-40 xl:px-56 px-4 py-10 text-white mb-6">
            <h1><%= yield :section_title %></h1>
          </div>
        <% end %>

        <div class="pt-4 md:px-20 lg:px-40 xl:px-56 px-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
