<% content_for :section_title, "Cards" %>

<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-xs border-b border-grey-light pb-3 mb-3">Basic</h4>

  <div class="border border-grey-light rounded p-8 my-8">
    <h3>Card title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

<% content_for :snippet, flush: true do %>
&lt;div class="border border-grey-light rounded p-8 my-8"&gt;
  &lt;h3&gt;Card title&lt;/h3&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
&lt;/div&gt;
<% end %>
<%= render "docs/snippet" %>
</div>

<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-xs border-b border-grey-light pb-3 mb-3">Basic Call To Action</h4>

  <div class="border border-grey-light rounded p-8 my-8">
    <div class="flex flex-wrap items-center justify-between">
      <div class="lg:flex-1">
        <h3>Card title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="lg:p-0 pt-4">
        <%= link_to "Button", "", class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% content_for :snippet, flush: true do %>
&lt;div class="border border-grey-light rounded p-8 my-8"&gt;
  &lt;div class="flex flex-wrap items-center justify-between"&gt;
    &lt;div class="lg:flex-1"&gt;
      &lt;h3&gt;Card title&lt;/h3&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="lg:p-0 pt-4&gt;
      &lt;%= link_to "Button", "", class: "btn btn-primary" %&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
<% end %>
<%= render "docs/snippet" %>
  </div>


<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-xs border-b border-grey-light pb-3 mb-3">With Image</h4>

  <div class="border border-grey-light rounded my-8 lg:w-1/4 w-full">
    <div class="image-placeholder">
      <%= render_svg "icons/photo", styles: "fill-current text-grey icon-xl" %>
    </div>
    <div class="p-6">
      <h3>Card title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>

<% content_for :snippet, flush: true do %>
&lt;div class="border border-grey-light rounded my-8 lg:w-1/4 w-full"&gt;
  &lt;div class="image-placeholder"&gt;
    &lt;%= render_svg "icons/photo", styles: "fill-current text-grey icon-xl" %&gt;
  &lt;/div&gt;
  &lt;div class="p-6"&gt;
    &lt;h3&gt;Card title&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
<% end %>
<%= render "docs/snippet" %>
</div>

<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-xs border-b border-grey-light pb-3 mb-3">With Image and Buttons</h4>

  <div class="border border-grey-light rounded my-8 lg:w-1/4 w-full">
    <div class="image-placeholder">
      <%= render_svg "icons/photo", styles: "fill-current text-grey icon-xl" %>
    </div>
    <div class="p-6">
      <h3>Card title</h3>
      <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <%= link_to "Button", "#", class: "btn btn-primary btn-small" %>
    </div>
  </div>

<% content_for :snippet, flush: true do %>
&lt;div class="border border-grey-light rounded my-8 lg:w-1/4 w-full"&gt;
  &lt;div class="image-placeholder"&gt;
    &lt;%= render_svg "icons/photo", styles: "fill-current text-grey icon-xl" %&gt;
  &lt;/div&gt;
  &lt;div class="p-6"&gt;
    &lt;h3&gt;Card title&lt;/h3&gt;
    &lt;p class="mb-2"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
    &lt;%= link_to "Button", "#", class: "btn btn-primary btn-small" %&gt;
  &lt;/div&gt;
&lt;/div&gt;
<% end %>
<%= render "docs/snippet" %>
</div>
</div>