<% content_for :section_title, "Buttons" %>

<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-sm border-b border-grey-light pb-3 mb-3">Default</h4>

  <button class="btn btn-primary mr-2">Primary</button>
  <button class="btn btn-secondary mr-2">Secondary</button>
  <button class="btn btn-tertiary mr-2">Tertiary</button>
  <button class="btn btn-danger mr-2">Danger</button>
  <button class="btn btn-white primary mr-2">White</button>
  <button class="btn btn-link mr-2">Link</button>

<% content_for :snippet, flush: true do %>
&lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="btn btn-tertiary"&gt;Tertiary&lt;/button&gt;
&lt;button class="btn btn-danger"&gt;Danger&lt;/button&gt;
&lt;button class="btn btn-white primary"&gt;White&lt;/button&gt;
&lt;button class="btn btn-link"&gt;Link&lt;/button&gt;
<% end %>
<%= render "docs/snippet" %>

</div>

<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-sm border-b border-grey-light pb-3 mb-3">Outlined</h4>

  <button class="btn btn-primary outline mr-2">Primary</button>
  <button class="btn btn-secondary outline mr-2">Secondary</button>
  <button class="btn btn-tertiary outline mr-2">Tertiary</button>
  <button class="btn btn-danger outline mr-2">Danger</button>

<% content_for :snippet, flush: true do %>
&lt;button class="btn btn-primary outline"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-secondary outline"&gt;Secondary&lt;/button&gt;
&lt;button class="btn btn-tertiary outline"&gt;Tertiary&lt;/button&gt;
&lt;button class="btn btn-danger outline"&gt;Danger&lt;/button&gt;
<% end %>
<%= render "docs/snippet" %>


<div class="mb-10">

  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-sm border-b border-grey-light pb-3 mb-3">Small</h4>

  <button class="btn btn-small btn-primary mr-2">Primary</button>
  <button class="btn btn-small btn-secondary mr-2">Secondary</button>
  <button class="btn btn-small btn-tertiary mr-2">Tertiary</button>
  <button class="btn btn-small btn-danger mr-2">Danger</button>
  <button class="btn btn-small btn-white primary mr-2">White</button>
  <button class="btn btn-small btn-link mr-2">Link</button>

<% content_for :snippet, flush: true do %>
&lt;button class="btn btn-small btn-primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-small btn-secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="btn btn-small btn-tertiary"&gt;Tertiary&lt;/button&gt;
&lt;button class="btn btn-small btn-danger"&gt;Danger&lt;/button&gt;
&lt;button class="btn btn-small btn-white primary"&gt;White&lt;/button&gt;
&lt;button class="btn btn-small btn-link"&gt;Link&lt;/button&gt;
<% end %>
<%= render "docs/snippet" %>

</div>

<div class="mb-10">

  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-sm border-b border-grey-light pb-3 mb-3">Large</h4>

  <button class="btn btn-large btn-primary mr-2">Primary</button>
  <button class="btn btn-large btn-secondary mr-2">Secondary</button>
  <button class="btn btn-large btn-tertiary mr-2">Tertiary</button>
  <button class="btn btn-large btn-danger mr-2">Danger</button>
  <button class="btn btn-large btn-white primary mr-2">White</button>
  <button class="btn btn-large btn-link mr-2">Link</button>

<% content_for :snippet, flush: true do %>
&lt;button class="btn btn-large btn-primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-large btn-secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="btn btn-large btn-tertiary"&gt;Tertiary&lt;/button&gt;
&lt;button class="btn btn-large btn-danger"&gt;Danger&lt;/button&gt;
&lt;button class="btn btn-large btn-white primary"&gt;White&lt;/button&gt;
&lt;button class="btn btn-large btn-link"&gt;Link&lt;/button&gt;
<% end %>
<%= render "docs/snippet" %>

</div>


<div class="mb-10">
  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-sm border-b border-grey-light pb-3 mb-3">Default with Icon</h4>

  <button class="btn btn-primary mr-2">
    <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Primary
  </button>

  <button class="btn btn-secondary mr-2">
    <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Secondary
  </button>

  <button class="btn btn-tertiary mr-2">
    <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Tertiary
  </button>

  <button class="btn btn-danger mr-2">
    <%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %> Danger
  </button>

  <button class="btn btn-white primary mr-2">
    <%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %> White
  </button>

  <button class="btn btn-link mr-2">
    Link <%= render_svg "icons/arrow-right", styles: "fill-current icon-xs ml-2" %>
  </button>

<% content_for :snippet, flush: true do %>
&lt;button class="btn btn-primary mr-2"&gt;
  &lt;%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %&gt; Primary
&lt;/button&gt;

&lt;button class="btn btn-secondary mr-2"&gt;
  &lt;%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %&gt; Secondary
&lt;/button&gt;

&lt;button class="btn btn-tertiary mr-2"&gt;
  &lt;%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %&gt; Tertiary
&lt;/button&gt;

&lt;button class="btn btn-danger mr-2"&gt;
  &lt;%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %&gt; Danger
&lt;/button&gt;

&lt;button class="btn btn-white primary mr-2"&gt;
  &lt;%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %&gt; White
&lt;/button&gt;

&lt;button class="btn btn-link mr-2"&gt;
  Link &lt;%= render_svg "icons/arrow-right", styles: "fill-current icon-xs ml-2" %&gt;
&lt;/button&gt;
<% end %>
<%= render "docs/snippet" %>

</div>
