<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# All assets are defined in Webpacker app/javascripts now %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <%= yield :head %>
  </head>

  <body class="bg-gray-100 font-sans font-normal leading-normal h-full antialiased">
    <%= render partial: "shared/navbar" %>

    <div class="main">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
