<!DOCTYPE html>
<html class="h-full bg-white antialiased">
  <head>
    <title>Jumpstart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# We don't need to reload the Stripe JS for Turbolinks %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>

    <%# All assets are defined in Webpacker app/javascripts now %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# Feel free to replace this with Font Awesome Pro %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= yield :head %>
  </head>

  <body class="font-source-sans font-normal text-black leading-normal flex flex-col h-full">
    <%= render partial: "shared/navbar" %>

    <div class="container mx-auto flex-1">
      <%= render partial: "shared/flash" %>

      <%= yield %>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
