<!DOCTYPE html>
<html class="h-full bg-white antialiased">
  <head>
    <title>Jumpstart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= yield(:braintree_javascript) %>
    <%= yield(:stripe_javascript) %>

    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-source-sans font-normal text-black leading-normal flex flex-col h-full">
    <%= render partial: "shared/navbar" %>

    <div class="container mx-auto flex-1">
      <%= render partial: "shared/flash" %>

      <%= yield %>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
