<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>Jumpstart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# All assets are defined in Webpacker app/javascripts now %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <%= yield :head %>
  </head>

  <body class="bg-offwhite font-sans font-normal leading-normal h-full antialiased">
    <%= render partial: "shared/navbar" %>

    <div class="main">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
