<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# All assets are defined in Webpacker app/javascripts now %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script src="https://kit.fontawesome.com/0e5ab6a736.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="antialiased font-sans bg-gray-100">
    <%= yield %>
  </body>
</html>
