<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="w-full p-4 lg:w-3/4">
    <div class="p-4 bg-white border border-gray-300 rounded-lg lg:p-10">

      <div class="flex items-center justify-between mb-3">
        <h1 class="flex-1 h2"><%= t(".title") %></h1>

        <% if @accounts.exists? %>
          <div>
            <%= link_to t(".create"), new_account_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <%# Skip display personal accounts to reduce confusion %>
      <% if @accounts.impersonal.exists? %>
        <table class="w-full">
          <thead>
            <tr>
              <th class="p-3 text-xs text-left text-gray-700 uppercase"><%= Account.human_attribute_name(:name) %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.impersonal.each do |account| %>
              <% next if account.personal? # Skip display personal accounts to reduce confusion %>

              <tr class="border-t border-gray-400 group">
                <td class="p-3">
                  <%= link_to account, class: "inline-block mr-4 align-middle" do %>
                    <span class="flex items-center text-gray-700 appearance-none">
                      <%= account_avatar account, class: "rounded-full h-10 w-10" %>
                    </span>
                  <% end %>

                  <%= link_to account.name, account, class: "text-gray-900 no-underline hover:text-primary" %>
                  <% if account.personal_account_for?(current_user) %>
                    <div class="inline-block px-3 py-1 ml-2 mr-2 text-xs leading-normal text-gray-600 uppercase bg-gray-300 rounded-full font-brand-semibold">Personal</div>
                  <% end %>
                </td>

                <td class="w-48 p-3 text-sm text-center">
                  <% if current_account != account %>
                    <%= link_to t(".switch"), switch_account_path(account), method: :patch, class: "btn btn-link no-underline" %>
                  <% else %>
                    <span class="text-gray-600"><%= t(".current") %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if @pagy.pages > 1 %>
          <div class="my-6 text-center">
            <%%== pagy_nav(@pagy) %>
          </div>
        <% end %>

      <% else %>
        <div class="p-8 text-center">
          <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
