<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="text-sm text-gray-600 mb-5">
      <%= link_to "All Accounts", accounts_path, class: "hover:text-black" %>
      <%= render_svg "icons/cheveron-right", styles: "fill-current icon-sm text-gray-600 inline-block" %>
      <%= link_to @account.name, @account, class: "hover:text-black" %>
    </div>

    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-300">

      <div class="flex justify-between items-end mb-5">
        <div class="flex items-center">
          <%= account_avatar @account, class: "rounded-full mr-4 h-12 w-12" %>
          <h1 class="h2"><%= @account.name %></h1>
        </div>

        <div>
          <%= link_to 'Invite A User', new_account_account_invitation_path(@account), class: "btn btn-primary outline no-underline" if !@account.personal? && account_admin?(@account, current_user) %>
          <%= link_to 'Edit Account', edit_account_path(@account), class: "btn btn-primary outline" if account_admin?(@account, current_user) %>
        </div>
      </div>

      <table class="w-full">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-600">Account Member</th>
            <th class="p-3 uppercase text-left text-xs text-gray-600">Roles</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @account.account_users.includes(:user).each do |account_user| %>
            <% user = account_user.user %>
            <tr class="group border-t border-gray-400 hover:bg-gray-200">
              <td class="p-3">
                <%= image_tag avatar_url_for(user), class: "h-4 h-6 inline-block rounded-full mr-2" %>
                <%= user.name || user.email %>
              </td>
              <td class="p-3"><%= account_user_roles(@account, account_user).join(", ") %></td>
              <td class="p-3 w-32 text-center"><%= link_to "Edit", edit_account_account_user_path(@account, account_user), class: "text-sm text-blue-600 no-underline" if account_admin?(@account, current_user) %></td>
            </tr>
          <% end %>

          <%# Invitations %>
          <% @account.account_invitations.each do |account_invitation| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-200">
              <td class="p-3">
                <%= image_tag avatar_url_for(account_invitation), class: "h-4 h-6 inline-block rounded-full mr-2" %>
                <%= account_invitation.name %>

                <div class="ml-2 rounded-full py-1 px-4 bg-gray-400 text-xs inline-block text-gray-700 font-bold leading-normal uppercase">Awaiting response</div>

<%= tag.button "Copy link", class: "btn btn-link", data: { clipboard_text: account_invitation_url(account_invitation) } %>
              </td>
              <td class="p-3"><%= account_user_roles(@account, account_invitation).join(", ") %></td>
              <td class="p-3 w-32 text-center">
                <%= link_to "Edit", edit_account_account_invitation_path(@account, account_invitation), class: "text-sm text-blue-600 no-underline" if account_admin?(@account, current_user) %>
</td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
